body{
    background: lightblue;
}

.navbar-custom {
    background-color:#fff;
}

.navbar-brand{
    background-color: lightblue;
    padding: 10px;
    font-weight: 700;
    font-size: 30px;
}

@media only screen and (max-width: 767px) {
    .navbar-header{background-color: lightblue;}
    .body{background: white;}
}

.container{
    outline: 30px;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.856);
}

#SelectImage{
    height: 130px; 
    outline: 5px;
    padding: 5px;
    background-color: rgb(107, 107, 143);
    border: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
#Image{
    height: 130px; 
    outline: 0px;
    padding: 0px;
    border: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#left_box{
    height: 700px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
}
#right_box{
    height: 625px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
}
#center_box{
    height: 550px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}